{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SQL PushDown",
    "description" : "No description",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://cu2sg5a.us.api-mocks.com",
    "description" : "This is your API mock endpoint. When called, it will simulate the behavior of your API."
  } ],
  "paths" : {
    "/query" : {
      "summary" : "Query",
      "description" : "SQL Query resource type\n",
      "get" : {
        "summary" : "GET list",
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "required" : [ "id", "name" ],
                        "properties" : {
                          "id" : {
                            "type" : "string"
                          },
                          "name" : {
                            "type" : "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "summary" : "Create",
        "description" : "Create a new query",
        "requestBody" : {
          "description" : "SQL query body as text\nThe backend validate there is no injection.\nVariable are automaticly extracted\n",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "object",
                "required" : [ "body", "id", "name" ],
                "description" : "SQL query body as text\nThe backend validate there is no injection.\nVariable are automaticly extracted\n",
                "properties" : {
                  "id" : {
                    "type" : "string"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "body" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "id", "version" ],
                  "properties" : {
                    "id" : {
                      "type" : "string"
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/query/{queryId}/{version}" : {
      "get" : {
        "summary" : "One query",
        "description" : "Return the query body where id=queryId and version = last\nAny query parameter added will replace the env variables",
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "object",
                  "description" : "You will get the query body. Variable will be replaced if you have passed them as query parameter "
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "$ref" : "#/components/parameters/queryId"
      }, {
        "$ref" : "#/components/parameters/version"
      } ]
    },
    "/snippet" : {
      "summary" : "Snippet",
      "description" : "reusable part of SQL queries",
      "get" : {
        "summary" : "GET list",
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "data" ],
                  "description" : "the list of snippets",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "description" : "the content",
                      "items" : {
                        "type" : "object",
                        "required" : [ "id", "name" ],
                        "properties" : {
                          "id" : {
                            "type" : "string",
                            "description" : "the snippet id"
                          },
                          "name" : {
                            "type" : "string",
                            "description" : "the snippet name"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "summary" : "Create",
        "description" : "Create a new snippet\n",
        "requestBody" : {
          "description" : "SQL query body as text\nThe backend validate there is no injection.\nVariable are automaticly extracted\n",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "object",
                "required" : [ "body", "id", "name" ],
                "description" : "SQL query body as text\nThe backend validate there is no injection.\nVariable are automaticly extracted\n",
                "properties" : {
                  "id" : {
                    "type" : "string"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "body" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "id" ],
                  "properties" : {
                    "id" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/snippet/{snippetId}" : {
      "get" : {
        "summary" : "one snippet",
        "description" : "get the body of the snippet",
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "object",
                  "description" : "the snippet content"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "snippetId",
        "in" : "path",
        "required" : true,
        "description" : "the id of the snippet you want to get",
        "schema" : {
          "type" : "string",
          "description" : "the id of the snippet you want to get"
        }
      } ]
    },
    "/foo/bar" : {
      "summary" : "I am a new endpoint"
    }
  },
  "components" : {
    "responses" : {
      "snippet meta" : {
        "description" : "snippet meta",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "required" : [ "id", "name" ],
              "properties" : {
                "id" : {
                  "type" : "string"
                },
                "name" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "snippet body" : {
        "description" : "snippet body",
        "content" : {
          "text/plain" : {
            "schema" : {
              "type" : "object"
            }
          }
        }
      },
      "query meta" : {
        "description" : "query meta",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "required" : [ "id", "name" ],
              "properties" : {
                "id" : {
                  "type" : "string"
                },
                "name" : {
                  "type" : "string"
                },
                "version" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "queryId" : {
        "name" : "queryId",
        "in" : "path",
        "required" : true,
        "description" : "The wanted query",
        "schema" : {
          "type" : "string",
          "description" : "The wanted query"
        },
        "example" : "123"
      },
      "version" : {
        "name" : "version",
        "in" : "path",
        "required" : true,
        "description" : "Get the given version of the entity. None mean last.",
        "schema" : {
          "type" : "string",
          "description" : "Get the given version of the entity. None mean last."
        },
        "example" : "last"
      }
    }
  }
}